body{
	font-family:sans-serif;
	margin:30px;
}

p{
	font-size:40pt;
	-webkit-animation: type 4s;
	animation: type 4s;
	white-space: nowrap;
	overflow: hidden;
}

h1{
	font-size:30pt;
}

.links{
	font-size:10pt;
}

@-webkit-keyframes type{
	from{
		width:0%;
	}
	to{
		width:100%;
	}
}

@keyframes type{ 
  from { width: 0%; } 
  to{width:0%;}
} 