body{
	font-family:sans-serif;
	margin-left:-2px;
}

p{
	font-size:20pt;
	-webkit-animation: type 6s;
}

.links{
	margin-left:0px;
	font-size:9pt;
}

@-webkit-keyframes type{
	from{
		width:0;
	}
}

@keyframes type{ 
  from { width: 0; } 
} 