p{
	font-size:20px;
	font-family:sans-serif;
	-webkit-animation: type 6s;
}

br{
	height:5px;

}

.links{
	margin-left:0px;
}

@-webkit-keyframes type{
	from{
		width:0;
	}
}

@keyframes type{ 
  from { width: 0; } 
} 